In [1]:
import pandas as pd

import warnings
warnings.filterwarnings('ignore')

In [6]:
data = pd.read_csv('../data/stats.csv')

In [7]:
data.head()

,team,wins,losses,goals,total_yel_card,total_red_card,total_scoring_att,ontarget_scoring_att,hit_woodwork,att_hd_goal,...,total_cross,corner_taken,touches,big_chance_missed,clearance_off_line,dispossessed,penalty_save,total_high_claim,punches,season
0,Manchester United,28.0,5.0,83.0,60.0,1.0,698.0,256.0,21.0,12.0,...,918.0,258.0,25686.0,NaN,1.0,NaN,2.0,37.0,25.0,2006-2007
1,Chelsea,24.0,3.0,64.0,62.0,4.0,636.0,216.0,14.0,16.0,...,897.0,231.0,24010.0,NaN,2.0,NaN,1.0,74.0,22.0,2006-2007
2,Liverpool,20.0,10.0,57.0,44.0,0.0,668.0,214.0,15.0,8.0,...,1107.0,282.0,24150.0,NaN,1.0,NaN,0.0,51.0,27.0,2006-2007
3,Arsenal,19.0,8.0,63.0,59.0,3.0,638.0,226.0,19.0,10.0,...,873.0,278.0,25592.0,NaN,1.0,NaN,0.0,88.0,27.0,2006-2007
4,Tottenham Hotspur,17.0,12.0,57.0,48.0,3.0,520.0,184.0,6.0,5.0,...,796.0,181.0,22200.0,NaN,2.0,NaN,0.0,51.0,24.0,2006-2007

In [13]:
filtered_df = data.loc[:, ['team', 'wins', 'losses', 'total_yel_card', 'total_red_card', 'hit_woodwork', 'goals', 'goals_conceded', 'clean_sheet', 'season']]

In [14]:
filtered_df

,team,wins,losses,total_yel_card,total_red_card,hit_woodwork,goals,goals_conceded,clean_sheet,season
0,Manchester United,28.0,5.0,60.0,1.0,21.0,83.0,27.0,16.0,2006-2007
1,Chelsea,24.0,3.0,62.0,4.0,14.0,64.0,24.0,22.0,2006-2007
2,Liverpool,20.0,10.0,44.0,0.0,15.0,57.0,27.0,20.0,2006-2007
3,Arsenal,19.0,8.0,59.0,3.0,19.0,63.0,35.0,12.0,2006-2007
4,Tottenham Hotspur,17.0,12.0,48.0,3.0,6.0,57.0,54.0,6.0,2006-2007
...,...,...,...,...,...,...,...,...,...,...
235,Huddersfield Town,9.0,19.0,62.0,3.0,8.0,28.0,58.0,10.0,2017-2018
236,Swansea City,8.0,21.0,51.0,1.0,8.0,28.0,56.0,9.0,2017-2018
237,Southampton,7.0,16.0,63.0,2.0,15.0,37.0,56.0,8.0,2017-2018
238,Stoke City,7.0,19.0,62.0,1.0,8.0,35.0,68.0,6.0,2017-2018
239,West Bromwich Albion,6.0,19.0,73.0,1.0,7.0,31.0,56.0,10.0,2017-2018

In [15]:
for season, group in filtered_df.groupby("season"):
    season_csv_filename = f'general_stats_{season}.csv'
    group.to_csv("../data/" + season_csv_filename, index=False)
    print(f"Saved {season_csv_filename}")

Saved general_stats_2006-2007.csv
Saved general_stats_2007-2008.csv
Saved general_stats_2008-2009.csv
Saved general_stats_2009-2010.csv
Saved general_stats_2010-2011.csv
Saved general_stats_2011-2012.csv
Saved general_stats_2012-2013.csv
Saved general_stats_2013-2014.csv
Saved general_stats_2014-2015.csv
Saved general_stats_2015-2016.csv
Saved general_stats_2016-2017.csv
Saved general_stats_2017-2018.csv

In [34]:
"""
df = filtered_df.loc[~((filtered_df['Stadium'] == 'Academy Stadium') & (filtered_df['HomeTeams'] == 'Manchester City'))]
df = df.loc[~((df['Stadium'] == 'Boleyn Ground') & (df['HomeTeams'] == 'West Ham'))]
df = df.loc[~((df['Stadium'] == 'Wembley') & (df['HomeTeams'] == 'Tottenham'))]
"""